@font-face {
  font-family: "Atkinson-Hyperlegible";
  src: url("./Atkinson-Hyperlegible-extended.woff2") format('woff2'),
       url("./Atkinson-Hyperlegible-extended.woff") format('woff');
}

* {
  /* Color scheme */
  --navtextcolor: #121212;
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #b3b336;
  --fghighlight: #121212;
  --bghighlight: #ffff4d;
  --bgstandout: #5ac7cc;
}

@media (prefers-color-scheme: dark) {
  * {
    --navtextcolor: white;
    --textcolor: #eee;
    --fghighlight: #121212;
    --bgcolor: #141414;
  }

  dt,
  dd {
    color: #ddd;
  }
}

body {
  font-size: 24px;
  font-family: "Atkinson-Hyperlegible", sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  margin: 0 2rem 6rem;
}

/* ------- Language ------- */

.en .lang-en {
  display: block;
}

.en .lang-es,
.en .lang-fr {
  display: none;
}

.es .lang-es {
  display: block;
}

.es .lang-en,
.es .lang-fr {
  display: none;
}

.fr .lang-fr {
  display: block;
}

.fr .lang-en,
.fr .lang-es {
  display: none;
}

/* ------- Header ------- */

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.language-switcher {
  margin: 1rem 0 0 80%;
}

.logo {
  background: url("./ls7-sub.svg") left/contain no-repeat;
  border-bottom: none;
  display: block;
  text-indent: -9999px;
  height: 8vw;
}

.es .logo {
  background: url("./ls7-sub-es.svg") left/contain no-repeat;
}

.fr .logo {
  background: url("./ls7-sub-fr.svg") left/contain no-repeat;
}

.logo:hover {
  border-bottom: none;
  opacity: 0.6;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background: url("./ls7-sub-white.svg") left/contain no-repeat;
  }

  .es .logo {
    background: url("./ls7-sub-es-white.svg") left/contain no-repeat;
  }

  .fr .logo {
    background: url("./ls7-sub-fr-white.svg") left/contain no-repeat;
  }

  .details {
    color: white;
    background-color: black;
  }

  .details::before {
    background-color: black;
  }

}

header h1 {
  white-space: nowrap;
}

js header h1 {
  margin-top: 0;
}

/* @todo Fix this to be less on thinner screens. */
nav {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 1.2rem;
}

nav a {
  background: none;
  color: var(--navtextcolor);
  text-align: center;
}

nav a.active {
  cursor: default;
  border-bottom: 0.25rem solid var(--bghighlight);
}

nav a::before,
nav a::after {
  content: '__';
  color: var(--bgcolor);
  display: inline-block;
  width: 1rem;
}

nav a.active::before,
nav a:active::before,
nav a:hover::before {
  content: '((';
  color: var(--navtextcolor);
}

nav a.active::after,
nav a:active::after,
nav a:hover::after {
  content: '))';
  color: var(--navtextcolor);
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

@media only screen and (min-width: 680px) {
  nav a::before,
  nav a::after {
    width: 1.5rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .logo {
    width: 20vw;
    height: 6vw;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }

  .logo {
    width: 36vw;
    height: 4vw;
  }
}

/* ------- General ------- */

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-weight: 700;
  border-bottom: 0.25rem solid var(--highlight);
  /* padding: 0.5rem; */
}

a:hover {
  border-bottom: 0.25rem solid var(--bghighlight);
}

#works a {
  border-bottom: none;
}

section h1 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: var(--fghighlight);
  background-color: var(--bghighlight);
}

h2, h3, h4 {
  /* background-color: var(--highlight); */
  color: var(--fghighlight);
  position: relative;
  font-size: 2em;
  font-weight: 600;
  margin: 2rem 0 .5rem 0;
  padding-left: 1rem;
  max-width: 25ch; /* Limit line-length to 25 characters */
}

article p + h2 {
  margin-top: 3rem;
}

p, ul, ol, article, #mc_embed_signup {
  max-width: 60ch; /* Limit line-length to 60 characters */
  margin: 1rem 0 .5rem 0;
}

p, li {
  position: relative;
  padding: 1rem;
}

/* h2::before, */
/* h3::before, */
/* h4::before, */
/* p::before, */
/* li::before { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   content: ''; */
/*   z-index: -1; */
/*   transform: skew(345deg); */
/*   background-color: var(--bghighlight); */
/* } */

/* h2::before, */
/* h3::before, */
/* h4::before { */
/*   background-color: var(--highlight); */
/* } */

/* ul.bios li::before, */
/* ul.bios li p::before, */
/* .details::before { */
/*   background-color: white; */
/* } */

h2::before,
h3::before,
h4::before,
li::before,
.standout::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
  transform: skew(345deg);
  color: var(--fghighlight);
  background-color: var(--bghighlight);
}

mark {
  background-color: var(--bghighlight);
}

.standout::before {
  background-color: var(--bgstandout);
}

ul.bios li::before,
ul.bios li p::before {
  background-color: transparent;
}

.details {
  font-size: 0.6em;
}

.little {
  font-size: 1rem;
  float: right;
}

button {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Atkinson-Hyperlegible", sans-serif;
  font-size: 24px;
}

.embed {
  display: block;
  height: 84vw;
  width: 84vw;
}

.madrid-poster {
  background: url("./images/leSon7-madrid-flyer.png") left/contain no-repeat;
}

.london-poster {
  background: url("./images/leSon7-london-flyer.png") left/contain no-repeat;
}

.ba-poster {
  background: url("./images/leSon7-BA-flyer-en.png") left/contain no-repeat;
}

.paris-poster {
  background: url("./images/leSon7-Paris-flyer-en.png") left/contain no-repeat;
}

.madrid-poster,
.london-poster,
.ba-poster,
.paris-poster {
  display: block;
  text-indent: -9999px;
  height: 100vw;
  max-height: 699px;
  margin-bottom: 2rem;
}

.fr .paris-poster {
  background: url("./images/leSon7-Paris-flyer-fr.png") left/contain no-repeat;
}

.es .ba-poster,
.fr .ba-poster {
  background: url("./images/leSon7-BA-flyer.png") left/contain no-repeat;
}

@media only screen and (min-width: 1200px) {
  .embed {
    height: 600px;
    width: 600px;
  }

  .madrid-poster,
  .london-poster,
  .ba-poster,
  .paris-poster {
    height: 50vw;
  }
}

#mc_embed_signup {
  background-color: var(--highlight);
  padding: 1rem;
}

#mc_embed_signup_scroll {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#mc_embed_signup_scroll > div {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: .2em;
}

ul, ol {
  padding-left: 2ch;
}

b, strong {
  font-weight: 600;
}

small {
  font-size: .85em;
}

hr {
  height: 1px;
  border: 0;
  background: currentColor;
  opacity: .1;
  margin: 1.2rem 0;
}

abbr {
  text-decoration: none;
}

abbr[title]:hover {
  opacity: .7;
  cursor: help;
}

blockquote {
  padding-left: 2ch;
  opacity: .7;
  margin-bottom: .6em;
  position: relative;
}

blockquote:before {
  content: "";
  position:absolute;
  left: 0;
  top: .3em;
  bottom: .3em;
  background: currentColor;
  width: 1px;
  opacity: .2;
}

img, svg, video, audio {
  display: block;
  max-width: 100%;
  fill: currentColor;
  margin-top: 2rem;
}

audio {
  padding: 2rem 1rem;
  background: var(--highlight);
  position: relative;
}

dt {
  padding-top: 1rem;
  font-weight: 700;
}

dd {
  font-size: 1.2rem;
}

.date {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
}

input {
  border-radius: 0.4rem;
  font-size: 1.6rem;
  padding: 0.4rem;
}

/* Figures */

figure {
  margin: 2em 0 1.5em 0;
}

figure figcaption {
  color: var(--navtextcolor);
  margin: 0.8em 0 0 0;
  font-size: .85em;
  opacity: .7;
}

/* Responsive map embed */

figure.map {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  margin: 2rem;
  height: 0;
  overflow: hidden;
}

figure.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive video embeds */

figure.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

figure.video iframe, figure.video object, figure.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  visibility: hidden; /* so loading="lazy" should work? */
}

/* File links */

/* Add more filetypes here if you want */

a[href$=".pdf"]:before { content: "PDF"; }
a[href$=".txt"]:before { content: "TXT"; }
a[href$=".mp3"]:before { content: "MP3"; }
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before { content: "IMG"; }

/* ------- News ------- */

article + article {
  margin-top: 4.5em;
}

article:first-child h2 {
  margin-top: 2rem;
}

article h2 {
  font-weight: 700;
  margin: 0 0 1em 0;
}

/* ------- Images Grid ------- */

.grid {
  display: grid;
  grid-gap: 5vmin;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 150px = minimum image size */
  grid-auto-flow: dense;
  padding: 2em 0;
}

.grid a {
  position: relative;
  border: 0;
}

.grid a:hover {
  transform: scale(.975);
}

/* For a square ratio */
.grid a:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid a img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ------- Lightbox ------- */

.lightbox {
  display: none;
  color: var(--textcolor);
}

.lightbox:target {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  align-content: center;
  background: var(--bgcolor);
  border: 0;
  z-index: 3;
}

.lightbox img {
  max-height: 100vh;
  z-index: 4;
}

.lightbox:target:before { /* Loading spinner */
  content:"";
  height: 2em;
  width: 2em;
  animation: spin .8s infinite linear;
  border: 1px solid;
  border-right-color: transparent;
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  opacity: .25;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lightbox:target:after { /* × to close */
  content: "\00D7";
  position: fixed;
  font-size: 2em;
  font-weight: 200;
  line-height: 0;
  top: .75em;
  right: .5em;
  z-index: 4;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 680px) {
  body { font-size: 16px; }
}

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
}

/* ------- Print ------- */

@media print {

  nav, .lightbox:target:after { display: none; }

  article, figure, img {
    page-break-inside: avoid;
    break-inside: avoid;
  }

}
